.stopwatch .timer-display {
  font-size: 8rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-align: center;
}

.stopwatch button {
  margin: 1rem;
  border: 1px solid #ccc;
}

.stopwatch-settings {
  z-index: 10;
}
.stopwatch-settings .content{
  z-index: 10;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  flex-direction: column;
}

.stopwatch-settings .form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1rem;
  width: 100%;
  flex-direction: column;
}

.stopwatch-settings .form input {
  margin-left: 1rem;
}

@media screen and (orientation: landscape) {
  .stopwatch {
    display: flex;
    flex-direction: row;
  }

  .stopwatch .timer-display {
    flex: 3;
  }

  .stopwatch .controls {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 10rem;
    flex: 1;
  }
}
